.git
.github
.idea
.vscode

.env
.env.*
auth.json

vendor
node_modules

bootstrap/cache/*.php

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/api-docs/*

database/*.sqlite
database/*.sqlite-*

.phpunit.cache
.phpunit.result.cache

npm-debug.log*
yarn-error.log*